In [3]:
import pandas as pd

In [4]:
# Load the sales dataset
df = pd.read_csv("sales_data.csv")

In [5]:
# Display first few rows
df.head()

         Date     Product  Quantity  Price Customer_ID Region  Total_Sales
0  2024-01-01       Phone         7  37300     CUST001   East       261100
1  2024-01-02  Headphones         4  15406     CUST002  North        61624
2  2024-01-03       Phone         2  21746     CUST003   West        43492
3  2024-01-04  Headphones         1  30895     CUST004   East        30895
4  2024-01-05      Laptop         8  39835     CUST005  North       318680

In [6]:
# Check dataset information
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         100 non-null    object
 1   Product      100 non-null    object
 2   Quantity     100 non-null    int64
 3   Price        100 non-null    int64
 4   Customer_ID  100 non-null    object
 5   Region       100 non-null    object
 6   Total_Sales  100 non-null    int64
dtypes: int64(3), object(4)
memory usage: 5.6+ KB
None

In [22]:
df.shape

(100, 8)

In [7]:
# Check for missing values
print(df.isnull().sum())

Date           0
Product        0
Quantity       0
Price          0
Customer_ID    0
Region         0
Total_Sales    0
dtype: int64

In [8]:
# Remove duplicate rows if any
df = df.drop_duplicates()

In [9]:
# Calculate total sales revenue
total_sales = df["Total_Sales"].sum()
total_sales

12365048

In [10]:
# Find best-selling product based on quantity sold
best_product = df.groupby("Product")["Quantity"].sum().idxmax()
best_product

'Laptop'

In [11]:
# Calculate average sales value
average_sales = df["Total_Sales"].mean()
average_sales

123650.48

In [12]:
# Highest and Lowest Sale
highest_sale = df["Total_Sales"].max()
highest_sale

373932

In [13]:
lowest_sale = df["Total_Sales"].min()
lowest_sale

6540

In [14]:
df.dtypes

Date           object
Product        object
Quantity        int64
Price           int64
Customer_ID    object
Region         object
Total_Sales     int64
dtype: object

In [15]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

In [16]:
df["Month"] = df["Date"].dt.month_name()
df.head()

,Date,Product,Quantity,Price,Customer_ID,Region,Total_Sales,Month
0,2024-01-01,Phone,7,37300,CUST001,East,261100,January
1,2024-01-02,Headphones,4,15406,CUST002,North,61624,January
2,2024-01-03,Phone,2,21746,CUST003,West,43492,January
3,2024-01-04,Headphones,1,30895,CUST004,East,30895,January
4,2024-01-05,Laptop,8,39835,CUST005,North,318680,January

In [17]:
# Group by Month and calculate total sales
monthly_sales = df.groupby("Month")["Total_Sales"].sum()
monthly_sales

Month
April       1103468
February    2656050
January     4120524
March       4485006
Name: Total_Sales, dtype: int64

In [18]:
# Find the month with the highest sales
highest_sale_month = monthly_sales.idxmax()
highest_sale_value = monthly_sales.max()

In [20]:
# Display results
print("\n SALES ANALYSIS REPORT")
print(f"Total Sales Revenue: {total_sales:,.2f}")
print(f"Best-Selling Product: {best_product}")
print(f"Average Sales Value: {average_sales:,.2f}")
print(f"Highest Sales Value: {highest_sale:,.2f}")
print(f"Lowest Sales Value: {lowest_sale:,.2f}")
print(f"Month with highest sales: {highest_sale_month}")
print(f"Total Sales: {highest_sale_value:,.2f}")

 SALES ANALYSIS REPORT
Total Sales Revenue: 12,365,048.00
Best-Selling Product: Laptop
Average Sales Value: 123,650.48
Highest Sales Value: 373,932.00
Lowest Sales Value: 6,540.00
Month with highest sales: March
Total Sales: 4,485,006.00